In [1]:
#install Kaggle Command Line Tool to use on Jupyter Notebook -here-
%pip install kaggle

Requirement already satisfied: kaggle in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (1.6.14)
Requirement already satisfied: six>=1.10 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (2.2.1)
Requirement already satisfied: bleach in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from requests->kaggle) (3.7)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#verify it works
!kaggle --version

Kaggle API 1.6.14

In [3]:
#check commands you can use
!kaggle --help

usage: kaggle [-h] [-v]
              {competitions,c,datasets,d,kernels,k,models,m,files,f,config}
              ...

options:
  -h, --help            show this help message and exit
  -v, --version         show program's version number and exit

commands:
  {competitions,c,datasets,d,kernels,k,models,m,files,f,config}
                        Use one of:
                        competitions {list, files, download, submit, submissions, leaderboard}
                        datasets {list, files, download, create, version, init, metadata, status}
                        kernels {list, files, init, push, pull, output, status}
                        models {instances, get, list, init, create, delete, update}
                        models instances {versions, get, files, init, create, delete, update}
                        models instances versions {init, create, download, delete, files}
                        config {view, set, unset}
    competitions (c)    Commands related to Kaggle competitions
    datasets (d)        Commands related to Kaggle datasets
    kernels (k)         Commands related to Kaggle kernels
    models (m)          Commands related to Kaggle models
    files (f)           Commands related files
    config              Configuration settings

In [4]:
#view datasets comman
!kaggle datasets -h

usage: kaggle datasets [-h]
                       {list,files,download,create,version,init,metadata,status}
                       ...

options:
  -h, --help            show this help message and exit

commands:
  {list,files,download,create,version,init,metadata,status}
    list                List available datasets
    files               List dataset files
    download            Download dataset files
    create              Create a new dataset
    version             Create a new dataset version
    init                Initialize metadata file for dataset creation
    metadata            Download metadata about a dataset
    status              Get the creation status for a dataset

In [5]:
#list available commands to search for dataset
!kaggle datasets list -h

usage: kaggle datasets list [-h] [--sort-by SORT_BY] [--size SIZE]
                            [--file-type FILE_TYPE] [--license LICENSE_NAME]
                            [--tags TAG_IDS] [-s SEARCH] [-m] [--user USER]
                            [-p PAGE] [-v] [--max-size MAX_SIZE]
                            [--min-size MIN_SIZE]

options:
  -h, --help            show this help message and exit
  --sort-by SORT_BY     Sort list results. Default is 'hottest'. Valid options are 'hottest', 'votes', 'updated', and 'active'
  --size SIZE           DEPRECATED. Please use --max-size and --min-size to filter dataset sizes.
  --file-type FILE_TYPE
                        Search for datasets with a specific file type. Default is 'all'. Valid options are 'all', 'csv', 'sqlite', 'json', and 'bigQuery'. Please note that bigQuery datasets cannot be downloaded
  --license LICENSE_NAME
                        Search for datasets with a specific license. Default is 'all'. Valid options are 'all', 'cc', 'gpl', 'odb', and 'other'
  --tags TAG_IDS        Search for datasets that have specific tags. Tag list should be comma separated
  -s SEARCH, --search SEARCH
                        Term(s) to search for
  -m, --mine            Display only my items
  --user USER           Find public datasets owned by a specific user or organization
  -p PAGE, --page PAGE  Page number for results paging. Page size is 20 by default
  -v, --csv             Print results in CSV format (if not set print in table format)
  --max-size MAX_SIZE   Specify the maximum size of the dataset to return (bytes)
  --min-size MIN_SIZE   Specify the minimum size of the dataset to return (bytes)

In [6]:
# Search datasets
!kaggle datasets list

401 - Unauthorized - Unauthenticated

In [7]:
# Search datasets for aqi or air quality
!kaggle datasets list -s aqi

401 - Unauthorized - Unauthenticated

In [8]:
#use !kaggle datasets files <owner>/<dataset-name> 

!kaggle datasets files azminetoushikwasi/aqi-air-quality-index-scheduled-daily-update

name            size  creationDate
-------------  -----  -------------------
data_date.csv  427KB  2024-06-06 08:52:50

In [9]:
#look at download options 
!kaggle datasets download -h

usage: kaggle datasets download [-h] [-f FILE_NAME] [-p PATH] [-w] [--unzip]
                                [-o] [-q]
                                [dataset]

options:
  -h, --help            show this help message and exit
  dataset               Dataset URL suffix in format <owner>/<dataset-name> (use "kaggle datasets list" to show options)
  -f FILE_NAME, --file FILE_NAME
                        File name, all files downloaded if not provided
                        (use "kaggle datasets files -d <dataset>" to show options)
  -p PATH, --path PATH  Folder where file(s) will be downloaded, defaults to current working directory
  -w, --wp              Download files to current working path
  --unzip               Unzip the downloaded file. Will delete the zip file when completed.
  -o, --force           Skip check whether local version of file is up to date, force file download
  -q, --quiet           Suppress printing information about the upload/download progress

In [10]:
#download specific file
!kaggle datasets download azminetoushikwasi/aqi-air-quality-index-scheduled-daily-update -f data_date.csv

Dataset URL: https://www.kaggle.com/datasets/azminetoushikwasi/aqi-air-quality-index-scheduled-daily-update
License(s): ODbL-1.0
Downloading data_date.csv to /Users/bellewills/flask_app
... resuming from 428160 bytes (9160 bytes left) ...
 98%|██████████████████████████████████████████████▉ | 418k/427k [00:00<?, ?B/s]
100%|████████████████████████████████████████| 427k/427k [00:00<00:00, 5.73MB/s]

In [11]:
%pip install pandas

Requirement already satisfied: pandas in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import pandas as pd
aqi = pd.read_csv("data_date.csv")
aqi

             Date     Country                          Status  AQI Value
0      2022-07-21     Albania                            Good         14
1      2022-07-21     Algeria                        Moderate         65
2      2022-07-21     Andorra                        Moderate         55
3      2022-07-21      Angola  Unhealthy for Sensitive Groups        113
4      2022-07-21   Argentina                        Moderate         63
...           ...         ...                             ...        ...
13247  2024-06-06  Uzbekistan                            Good         21
13248  2024-06-06     Vatican                            Good         25
13249  2024-06-06   Venezuela                            Good         10
13250  2024-06-06     Vietnam                        Moderate         63
13251  2024-06-06      Zambia  Unhealthy for Sensitive Groups        140

[13252 rows x 4 columns]

In [13]:
#install sql
import sqlite3

In [14]:
#create database called "aqi.db"
db_connect = sqlite3.connect('aqi.db')

In [15]:
#cur (cursors) allow us the execute sql queries! 
cur = db_connect.cursor()

In [16]:
#create table "aqitable" with composite unique constraint
cur.execute("""
    CREATE TABLE IF NOT EXISTS aqitable (
        ID INTEGER PRIMARY KEY AUTOINCREMENT,
        Date DATETIME NOT NULL,
        Country TEXT,
        Status TEXT,
        AQI_Value INTEGER,
        UNIQUE(Date, Country)
    )
""")

In [17]:
#show all new tables in new SQL database 
cur.execute ("SELECT name from sqlite_master where type='table' order by name;")
results = cur.fetchall()
print(results)

[('aqitable',), ('sqlite_sequence',)]

In [18]:
#pandas allow to run SQL querry and save data 

import pandas as pd

In [19]:
#Put AQI dataset we found into our sql data as aqi 
aqi.to_sql('aqitable', db_connect, if_exists='replace', index = False)

13252

In [20]:
#query sql tabke inty pythin pandas dataframe
latest_aqi = pd.read_sql_query('select * from aqitable limit 100', db_connect)

In [21]:
#view latest aqi data
latest_aqi

          Date        Country                          Status  AQI Value
0   2022-07-21        Albania                            Good         14
1   2022-07-21        Algeria                        Moderate         65
2   2022-07-21        Andorra                        Moderate         55
3   2022-07-21         Angola  Unhealthy for Sensitive Groups        113
4   2022-07-21      Argentina                        Moderate         63
..         ...            ...                             ...        ...
95  2022-07-21    Netherlands                        Moderate         70
96  2022-07-21  New Caledonia                            Good         15
97  2022-07-21    New Zealand                            Good         18
98  2022-07-21        Nigeria  Unhealthy for Sensitive Groups        105
99  2022-07-21         Norway                        Moderate         73

[100 rows x 4 columns]

In [22]:
import pandas as pd

# Define the correct paths for the CSV files
aqi_file_path = '/Users/bellewills/data/data_date.csv'
weather_file_path = '/Users/bellewills/data/GlobalWeatherRepository.csv'
pollution_file_path = '/Users/bellewills/data/global air pollution dataset.csv'

# Load datasets into pandas DataFrames
df_aqi = pd.read_csv(aqi_file_path)
df_weather = pd.read_csv(weather_file_path)
df_pollution = pd.read_csv(pollution_file_path)

# Print column names to identify correct names
print("AQI DataFrame columns:", df_aqi.columns)
print("Weather DataFrame columns:", df_weather.columns)
print("Pollution DataFrame columns:", df_pollution.columns)

AQI DataFrame columns: Index(['Date', 'Country', 'Status', 'AQI Value'], dtype='object')
Weather DataFrame columns: Index(['country', 'location_name', 'latitude', 'longitude', 'timezone',
       'last_updated_epoch', 'last_updated', 'temperature_celsius',
       'temperature_fahrenheit', 'condition_text', 'wind_mph', 'wind_kph',
       'wind_degree', 'wind_direction', 'pressure_mb', 'pressure_in',
       'precip_mm', 'precip_in', 'humidity', 'cloud', 'feels_like_celsius',
       'feels_like_fahrenheit', 'visibility_km', 'visibility_miles',
       'uv_index', 'gust_mph', 'gust_kph', 'air_quality_Carbon_Monoxide',
       'air_quality_Ozone', 'air_quality_Nitrogen_dioxide',
       'air_quality_Sulphur_dioxide', 'air_quality_PM2.5', 'air_quality_PM10',
       'air_quality_us-epa-index', 'air_quality_gb-defra-index', 'sunrise',
       'sunset', 'moonrise', 'moonset', 'moon_phase', 'moon_illumination'],
      dtype='object')
Pollution DataFrame columns: Index(['Country', 'City', 'AQI Value', 'AQI Category', 'CO AQI Value',
       'CO AQI Category', 'Ozone AQI Value', 'Ozone AQI Category',
       'NO2 AQI Value', 'NO2 AQI Category', 'PM2.5 AQI Value',
       'PM2.5 AQI Category'],
      dtype='object')

In [1]:
import sqlite3
import pandas as pd

# Paths to your CSV files
aqi_file_path = '/Users/bellewills/data/data_date.csv'
weather_file_path = '/Users/bellewills/data/GlobalWeatherRepository.csv'
pollution_file_path = '/Users/bellewills/data/global air pollution dataset.csv'

# Load datasets into pandas DataFrames
df_aqi = pd.read_csv(aqi_file_path)
df_weather = pd.read_csv(weather_file_path)
df_pollution = pd.read_csv(pollution_file_path)

# Display the loaded data
print("AQI DataFrame:")
print(df_aqi.head())
print("\nWeather DataFrame:")
print(df_weather.head())
print("\nPollution DataFrame:")
print(df_pollution.head())

# Create a SQLite database
conn = sqlite3.connect('aqi_database2.db')

# Function to list tables in the database
def list_tables(conn):
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = [row[0] for row in cursor.fetchall()]
    return tables

# Create and populate the locations table
df_locations_aqi = df_aqi[['Country']].drop_duplicates().reset_index(drop=True)
df_locations_weather = df_weather[['country', 'location_name', 'latitude', 'longitude']].drop_duplicates().reset_index(drop=True)
df_locations_pollution = df_pollution[['Country', 'City']].drop_duplicates().reset_index(drop=True)

df_locations_aqi.rename(columns={'Country': 'country'}, inplace=True)
df_locations_weather.rename(columns={'country': 'country', 'location_name': 'city'}, inplace=True)
df_locations_pollution.rename(columns={'Country': 'country', 'City': 'city'}, inplace=True)

# Combine all locations into one DataFrame
df_locations = pd.concat([df_locations_aqi, df_locations_weather[['country', 'city', 'latitude', 'longitude']], df_locations_pollution[['country', 'city']]]).drop_duplicates().reset_index(drop=True)
df_locations['location_id'] = df_locations.index + 1

# Display the locations DataFrame
print("\nLocations DataFrame:")
print(df_locations.head())

# Save locations to the SQL table
df_locations.to_sql('locations', conn, if_exists='replace', index=False)

# Create and populate the parameters table
parameters = set(df_pollution.columns[2:]).union({'AQI', 'Temperature'})
df_parameters = pd.DataFrame(parameters, columns=['parameter'])
df_parameters['parameter_id'] = df_parameters.index + 1

# Remove any null entries
df_parameters = df_parameters.dropna()

# Display the parameters DataFrame
print("\nParameters DataFrame:")
print(df_parameters.head())

df_parameters.to_sql('parameters', conn, if_exists='replace', index=False)

# Create and populate the measurements table
df_measurements_aqi = df_aqi[['Country', 'Date', 'AQI Value']].copy()
df_measurements_aqi.rename(columns={'Country': 'country', 'Date': 'date', 'AQI Value': 'value'}, inplace=True)
df_measurements_aqi['parameter'] = 'AQI'
df_measurements_aqi['source'] = 'aqi'

df_measurements_weather = df_weather[['country', 'location_name', 'temperature_celsius', 'last_updated']].copy()
df_measurements_weather.rename(columns={'country': 'country', 'location_name': 'city', 'temperature_celsius': 'value', 'last_updated': 'date'}, inplace=True)
df_measurements_weather['parameter'] = 'Temperature'
df_measurements_weather['source'] = 'weather'

df_measurements_pollution = df_pollution.melt(id_vars=['Country', 'City'], var_name='parameter', value_name='value').copy()
df_measurements_pollution.rename(columns={'Country': 'country', 'City': 'city'}, inplace=True)
df_measurements_pollution['source'] = 'pollution'

df_measurements = pd.concat([df_measurements_aqi, df_measurements_weather, df_measurements_pollution]).drop_duplicates().reset_index(drop=True)
df_measurements = df_measurements.merge(df_locations[['location_id', 'country', 'city']], on=['country', 'city'])

# Merge parameter_id into measurements
df_measurements = df_measurements.merge(df_parameters[['parameter_id', 'parameter']], on='parameter')

df_measurements['id'] = df_measurements.index + 1  # Add ID column

# Display the measurements DataFrame
print("\nMeasurements DataFrame:")
print(df_measurements.head())

df_measurements.to_sql('measurements', conn, if_exists='replace', index=False)

# Verify the tables in the database
tables = list_tables(conn)
print("\nTables in the database:", tables)

# Display the first few rows of each table
for table in tables:
    query = f"SELECT * FROM {table} LIMIT 5;"
    df = pd.read_sql_query(query, conn)
    print(f"\nPreview of {table} table:")
    print(df)

# Close the database connection
conn.close()

AQI DataFrame:
         Date    Country                          Status  AQI Value
0  2022-07-21    Albania                            Good         14
1  2022-07-21    Algeria                        Moderate         65
2  2022-07-21    Andorra                        Moderate         55
3  2022-07-21     Angola  Unhealthy for Sensitive Groups        113
4  2022-07-21  Argentina                        Moderate         63

Weather DataFrame:
       country     location_name  latitude  longitude        timezone  \
0  Afghanistan             Kabul     34.52      69.18      Asia/Kabul
1      Albania            Tirana     41.33      19.82   Europe/Tirane
2      Algeria           Algiers     36.76       3.05  Africa/Algiers
3      Andorra  Andorra La Vella     42.50       1.52  Europe/Andorra
4       Angola            Luanda     -8.84      13.23   Africa/Luanda

   last_updated_epoch      last_updated  temperature_celsius  \
0          1715849100  2024-05-16 13:15                 26.6
1          1715849100  2024-05-16 10:45                 19.0
2          1715849100  2024-05-16 09:45                 23.0
3          1715849100  2024-05-16 10:45                  6.3
4          1715849100  2024-05-16 09:45                 26.0

   temperature_fahrenheit condition_text  ...  air_quality_PM2.5  \
0                    79.8  Partly Cloudy  ...                8.4
1                    66.2  Partly cloudy  ...                1.1
2                    73.4          Sunny  ...               10.4
3                    43.3  Light drizzle  ...                0.7
4                    78.8  Partly cloudy  ...              183.4

   air_quality_PM10  air_quality_us-epa-index air_quality_gb-defra-index  \
0              26.6                         1                          1
1               2.0                         1                          1
2              18.4                         1                          1
3               0.9                         1                          1
4             262.3                         5                         10

    sunrise    sunset  moonrise   moonset      moon_phase  moon_illumination
0  04:50 AM  06:50 PM  12:12 PM  01:11 AM  Waxing Gibbous                 55
1  05:21 AM  07:54 PM  12:58 PM  02:14 AM  Waxing Gibbous                 55
2  05:40 AM  07:50 PM  01:15 PM  02:14 AM  Waxing Gibbous                 55
3  06:31 AM  09:11 PM  02:12 PM  03:31 AM  Waxing Gibbous                 55
4  06:12 AM  05:55 PM  01:17 PM  12:38 AM  Waxing Gibbous                 55

[5 rows x 41 columns]

Pollution DataFrame:
              Country              City  AQI Value AQI Category  CO AQI Value  \
0  Russian Federation        Praskoveya         51     Moderate             1
1              Brazil  Presidente Dutra         41         Good             1
2               Italy   Priolo Gargallo         66     Moderate             1
3              Poland         Przasnysz         34         Good             1
4              France          Punaauia         22         Good             0

  CO AQI Category  Ozone AQI Value Ozone AQI Category  NO2 AQI Value  \
0            Good               36               Good              0
1            Good                5               Good              1
2            Good               39               Good              2
3            Good               34               Good              0
4            Good               22               Good              0

  NO2 AQI Category  PM2.5 AQI Value PM2.5 AQI Category
0             Good               51           Moderate
1             Good               41               Good
2             Good               66           Moderate
3             Good               20               Good
4             Good                6               Good

Locations DataFrame:
     country city  latitude  longitude  location_id
0    Albania  NaN       NaN        NaN            1
1    Algeria  NaN       NaN        NaN            2
2    Andorra  NaN       NaN        NaN            3
3     Angola  NaN       NaN        NaN            4
4  Argentina  NaN       NaN        NaN            5

Parameters DataFrame:
            parameter  parameter_id
0     PM2.5 AQI Value             1
1           AQI Value             2
2       NO2 AQI Value             3
3  PM2.5 AQI Category             4
4     Ozone AQI Value             5

Measurements DataFrame:
     country        date value parameter source city  location_id  \
0    Albania  2022-07-21    14       AQI    aqi  NaN            1
1    Algeria  2022-07-21    65       AQI    aqi  NaN            2
2    Andorra  2022-07-21    55       AQI    aqi  NaN            3
3     Angola  2022-07-21   113       AQI    aqi  NaN            4
4  Argentina  2022-07-21    63       AQI    aqi  NaN            5

   parameter_id  id
0             9   1
1             9   2
2             9   3
3             9   4
4             9   5

Tables in the database: ['sqlite_sequence', 'locations', 'parameters', 'measurements']

Preview of sqlite_sequence table:
Empty DataFrame
Columns: [name, seq]
Index: []

Preview of locations table:
     country  city latitude longitude  location_id
0    Albania  None     None      None            1
1    Algeria  None     None      None            2
2    Andorra  None     None      None            3
3     Angola  None     None      None            4
4  Argentina  None     None      None            5

Preview of parameters table:
            parameter  parameter_id
0     PM2.5 AQI Value             1
1           AQI Value             2
2       NO2 AQI Value             3
3  PM2.5 AQI Category             4
4     Ozone AQI Value             5

Preview of measurements table:
     country        date value parameter source  city  location_id  \
0    Albania  2022-07-21    14       AQI    aqi  None            1
1    Algeria  2022-07-21    65       AQI    aqi  None            2
2    Andorra  2022-07-21    55       AQI    aqi  None            3
3     Angola  2022-07-21   113       AQI    aqi  None            4
4  Argentina  2022-07-21    63       AQI    aqi  None            5

   parameter_id  id
0             9   1
1             9   2
2             9   3
3             9   4
4             9   5

In [1]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('aqi_database2.db')

# Function to list all tables
def list_tables(conn):
    query = "SELECT name FROM sqlite_master WHERE type='table';"
    result = conn.execute(query).fetchall()
    tables = [row[0] for row in result]
    return tables

# Function to get a preview of a table
def preview_table(conn, table_name, limit=5):
    query = f"SELECT * FROM {table_name} LIMIT {limit};"
    df = pd.read_sql_query(query, conn)
    return df

# List all tables in the database
tables = list_tables(conn)
print("Tables in the database:", tables)

# Preview each table
for table in tables:
    print(f"\nPreview of {table} table:")
    print(preview_table(conn, table))

# Close the connection
conn.close()

Tables in the database: ['sqlite_sequence', 'locations', 'parameters', 'measurements']

Preview of sqlite_sequence table:
Empty DataFrame
Columns: [name, seq]
Index: []

Preview of locations table:
     country  city latitude longitude  location_id
0    Albania  None     None      None            1
1    Algeria  None     None      None            2
2    Andorra  None     None      None            3
3     Angola  None     None      None            4
4  Argentina  None     None      None            5

Preview of parameters table:
            parameter  parameter_id
0       NO2 AQI Value             1
1         Temperature             2
2     PM2.5 AQI Value             3
3  PM2.5 AQI Category             4
4     CO AQI Category             5

Preview of measurements table:
     country        date value parameter source  city  location_id  \
0    Albania  2022-07-21    14       AQI    aqi  None            1
1    Algeria  2022-07-21    65       AQI    aqi  None            2
2    Andorra  2022-07-21    55       AQI    aqi  None            3
3     Angola  2022-07-21   113       AQI    aqi  None            4
4  Argentina  2022-07-21    63       AQI    aqi  None            5

   parameter_id  id status
0             8   1   None
1             8   2   None
2             8   3   None
3             8   4   None
4             8   5   None

In [ ]:

# decided not to use aqitable.db - tried using two db together but kept getting database is locked error for aqitable.db 

# import sqlite3
# import pandas as pd
# import time

# # Function to update the measurements table with retry logic and exponential backoff
# def update_measurements(conn_main, row):
#     retries = 5
#     delay = 1  # initial delay in seconds
#     while retries > 0:
#         try:
#             conn_main.execute('''
#                 UPDATE measurements 
#                 SET status = ?, value = ?
#                 WHERE location_id = ? AND date = ?
#             ''', (row['Status'], row['AQI Value'], row['location_id'], row['Date']))
#             conn_main.commit()
#             break
#         except sqlite3.OperationalError as e:
#             if 'database is locked' in str(e):
#                 retries -= 1
#                 time.sleep(delay)
#                 delay *= 2  # exponential backoff - got this part off google to try and help with the database is locked error but didnt work
#                 if retries == 0:
#                     raise
#             else:
#                 raise

# # Connect to the main database and the second database with a timeout
# conn_main = sqlite3.connect('aqi_database.db', timeout=30)
# conn_second = sqlite3.connect('aqi.db')

# # Load data from the second database
# query = "SELECT Date, Country, Status, `AQI Value` FROM aqitable"
# aqi_data = pd.read_sql_query(query, conn_second)

# # Load the location mapping from the main database
# location_mapping = pd.read_sql_query('SELECT location_id, country FROM locations', conn_main)

# # Merge the AQI data with the location mapping
# merged_data = pd.merge(aqi_data, location_mapping, left_on='Country', right_on='country', how='left')

# # Update the measurements table with the status and AQI Value data
# for index, row in merged_data.iterrows():
#     update_measurements(conn_main, row)

# # Close the connections
# conn_main.close()
# conn_second.close()

In [1]:
%pip install flask

Requirement already satisfied: flask in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (2.2.5)
Requirement already satisfied: Werkzeug>=2.2.2 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask) (2.3.8)
Requirement already satisfied: Jinja2>=3.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=8.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Jinja2>=3.0->flask) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (24.0)

In [3]:
%pip install sqlalchemy
%pip install flask_cors

Requirement already satisfied: sqlalchemy in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from sqlalchemy) (4.11.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: flask_cors in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (3.0.10)
Requirement already satisfied: Flask>=0.9 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask_cors) (2.2.5)
Requirement already satisfied: Six in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from flask_cors) (1.16.0)
Requirement already satisfied: Werkzeug>=2.2.2 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Flask>=0.9->flask_cors) (2.3.8)
Requirement already satisfied: Jinja2>=3.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Flask>=0.9->flask_cors) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Flask>=0.9->flask_cors) (2.0.1)
Requirement already satisfied: click>=8.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Flask>=0.9->flask_cors) (8.1.7)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/bellewills/anaconda3/envs/flaskenv/lib/python3.12/site-packages (from Jinja2>=3.0->Flask>=0.9->flask_cors) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

# START SERVER!!!!

In [ ]:
from flask import Flask, jsonify, request
import pandas as pd
import sqlite3
from sqlalchemy import create_engine, text
from flask_cors import CORS

app = Flask(__name__)
CORS(app)  # Enable CORS for all routes

# SQLAlchemy setup
db_uri = "sqlite:///aqi_database2.db"  # Locked aqi_database.db so had to duplicate and make .2 to access data
engine = create_engine(db_uri)

@app.route("/")
def hello_world():
    """
    Route for the home page.
    """
    return """
        <h1>Air Quality Database</h1>
        <p>Follow the links to view data: <a href="/locations">Locations</a>, <a href="/parameters">Parameters</a>, <a href="/measurements">Measurements</a>.</p>
    """

@app.route("/locations")
def list_locations():
    """
    Route to list all locations, limited to the first 24,000 entries.
    """
    with engine.connect() as connection:
        result = connection.execute(text("SELECT location_id, country, city, latitude, longitude FROM locations LIMIT 24000"))
        output = ["<h1>List of Locations</h1>", "<ul>"]

        for location in result:
            id = location[0]
            country = location[1]
            city = location[2] if location[2] else ''
            latitude = location[3]
            longitude = location[4]
            output.append(f"""
                <li>
                    {country} - {city} (Lat: {latitude}, Long: {longitude}): 
                    <a href="/parameters/{id}">Parameters</a>
                    - <a href="/measurements/{id}">Measurements Data</a>
                </li>"""
            )

        output.append("</ul>")
        return "\n".join(output)

@app.route("/parameters")
def list_parameters():
    """
    Route to list all parameters.
    """
    with engine.connect() as connection:
        result = connection.execute(text("SELECT parameter_id, parameter FROM parameters"))
        output = ["<h1>List of Parameters</h1>", "<ul>"]

        for item in result:
            output.append(f"<li>{item[0]}: {item[1]}</li>")

        output.append("</ul>")
        return "\n".join(output)

@app.route("/measurements")
def list_measurements():
    """
    Route to list all measurements, limited to the first 24,000 entries.
    """
    with engine.connect() as connection:
        result = connection.execute(text(f"""
            SELECT measurements.id, parameters.parameter, measurements.value, measurements.date, measurements.location_id, measurements.parameter_id
            FROM measurements
            JOIN parameters ON measurements.parameter_id = parameters.parameter_id
            LIMIT 24000
        """))
        output = ["<h1>List of Measurements</h1>", "<ul>"]

        for item in result:
            output.append(f"<li>ID: {item[0]}, Parameter: {item[1]}, Value: {item[2]}, Date: {item[3]}, Location ID: {item[4]}, Parameter ID: {item[5]}</li>")

        output.append("</ul>")
        return "\n".join(output)

def get_location_name(session, id):
    """
    Function to get the name of a location.
    """
    result = session.execute(text("SELECT country, city FROM locations WHERE location_id = :id"), {"id": id})
    location = result.first()
    return f"{location[0]} - {location[1]}" if location[1] else location[0]

@app.route("/parameters/<int:location_id>")
def list_parameters_by_location(location_id):
    """
    Route to list parameters for a given location.
    """
    with engine.connect() as connection:
        result = connection.execute(text("SELECT parameter_id, parameter FROM parameters"))
        location_name = get_location_name(connection, location_id)
        output = [
            f"<h1>Parameters in {location_name}</h1>",
            "<ul>"
        ]
        for item in result:
            output.append(f"<li>{item[0]}: {item[1]}</li>")

        output.append("</ul>")
        return "\n".join(output)
# Pput limit of the actual amount of locations and meausrements to make sure all data is being shown as had problems with loading that much data

@app.route("/measurements/<int:location_id>")
def list_measurements_by_location(location_id):
    """
    Route to list measurements for a given location, limited to the first 24,000 entries.
    """
    with engine.connect() as connection:
        result = connection.execute(text(f"""
            SELECT measurements.id, parameters.parameter, measurements.value, measurements.date, measurements.location_id, measurements.parameter_id
            FROM measurements
            JOIN parameters ON measurements.parameter_id = parameters.parameter_id
            WHERE measurements.location_id = :id
            LIMIT 24000
        """), {"id": location_id})
        location_name = get_location_name(connection, location_id)
        output = [
            f"<h1>Measurements Data for {location_name}</h1>",
            "<ul>"
        ]
        for item in result:
            output.append(f"<li>ID: {item[0]}, Parameter: {item[1]}, Value: {item[2]}, Date: {item[3]}, Location ID: {item[4]}, Parameter ID: {item[5]}</li>")

        output.append("</ul>")
        return "\n".join(output)

@app.route("/json/locations")
def json_list_locations():
    """
    Route to list all locations in JSON format, limited to the first 24,000 entries.
    """
    with engine.connect() as connection:
        result = connection.execute(text("SELECT location_id, country, city, latitude, longitude FROM locations LIMIT 24000"))
        data = [{'id': location[0], 'country': location[1], 'city': location[2], 'latitude': location[3], 'longitude': location[4]} for location in result]
        return jsonify(data=data)

@app.route("/json/parameters")
def json_list_parameters():
    """
    Route to list all parameters in JSON format.
    """
    with engine.connect() as connection:
        result = connection.execute(text("SELECT parameter_id, parameter FROM parameters"))
        data = [{'id': parameter[0], 'name': parameter[1]} for parameter in result]
        return jsonify(data=data)

@app.route("/json/location/<int:location_id>/measurements")
def json_location_measurements(location_id):
    """
    Route to list all measurements for a given location in JSON format, limited to the first 24,000 entries.
    """
    # Had to limit the amount of entries because all entries were not loading and freezing because there were too many

    with engine.connect() as connection:
        result = connection.execute(text(f"""
            SELECT measurements.id, parameters.parameter, measurements.value, measurements.date, measurements.location_id, measurements.parameter_id
            FROM measurements
            JOIN parameters ON measurements.parameter_id = parameters.parameter_id
            WHERE measurements.location_id = :id
            LIMIT 24000
        """), {"id": location_id})
        data = [{'id': measurement[0], 'parameter': measurement[1], 'value': measurement[2], 'date': measurement[3], 'location_id': measurement[4], 'parameter_id': measurement[5]} for measurement in result]
        return jsonify(data=data)

if __name__ == "__main__":
    app.run(debug=False, port=5101)  # Make sure debug is off!!!!

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5101
Press CTRL+C to quit
127.0.0.1 - - [08/Jun/2024 22:34:46] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:34:48] "GET /measurements HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:35:07] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:35:09] "GET /locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:36:48] "GET /json/locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:37:04] "GET /json/location/1/measurements?page=1&per_page=100 HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 22:37:13] "GET /json/parameters HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:04:01] "GET /parameters/1 HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:04:46] "GET /json/locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:04:59] "GET /json/locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:05:32] "GET /json/location/1/measurements?page=1&per_page=100 HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:05:50] "GET /json/parameters HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:06:14] "GET /json/location/1/measurements?page=1&per_page=100 HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:08:17] "GET /locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:08:36] "GET /parameters HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:08:41] "GET /measurements HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:09:07] "GET /json/locations HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:09:33] "GET /json/parameters HTTP/1.1" 200 -
127.0.0.1 - - [08/Jun/2024 23:09:38] "GET /json/location/1/measurements?page=1&per_page=100 HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2024 12:49:40] "GET /json/locations HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2024 12:49:53] "GET /json/parameters HTTP/1.1" 200 -
127.0.0.1 - - [09/Jun/2024 12:49:56] "GET /json/location/1/measurements?page=1&per_page=100 HTTP/1.1" 200 -